{{ define "main" }}
<article class="post h-entry">
    <header>
		{{ if .Title }}
			<h1 class="p-name">{{ .Title }}</h1>
		{{ end }}
        <h2 class="headline"><a href="{{ .Permalink }}" class="u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></a></h2>
    </header>
    <section id="post-body" class="e-content">
        {{ .Content }}
    </section>
</article>

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

<footer id="post-meta" class="clearfix">
    <a href="https://micro.blog/{{ .Site.Author.username }}">
        <img class="avatar" src="{{ .Site.Author.avatar }}" width="96" height="96" />
        <div>
            <span class="dark">{{ .Site.Author.username }}</span>
            <span>{{ .Site.Author.name }}</span>
        </div>
    </a>

    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
</footer>
{{ end }}