<footer id="footer">
    <p class="small">© Copyright {{ .Date.Format "2006" }} {{ .Site.Author.name }}. {{ .Site.Params.description | safeHTML }}</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ "assets/js/main.js" | relURL }}"></script>
<script src="{{ "assets/js/highlight.js" | relURL }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

{{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
{{ end }}
